In [19]:
import pandas as pd
dfDates = pd.DataFrame({'date': ['2000-01-12', '2015-01-23', '20.12.2015', '31.12.2009']}) 
#print (dfDates)
date1 = pd.to_datetime(dfDates['date'], errors='coerce', format='%Y-%m-%d')
print(date1)
date2 = pd.to_datetime(dfDates['date'], errors='coerce', format='%d.%m.%Y')
print(date2)
dfDates['date'] = date1.fillna(date2)
print (dfDates)

0   2000-01-12
1   2015-01-23
2          NaT
3          NaT
Name: date, dtype: datetime64[ns]
0          NaT
1          NaT
2   2015-12-20
3   2009-12-31
Name: date, dtype: datetime64[ns]
        date
0 2000-01-12
1 2015-01-23
2 2015-12-20
3 2009-12-31

In [6]:
from datetime import date
dt = date.today()
dt.year

dfDates = pd.DataFrame({'date': ['2000-01-12', '2015-01-23', '20.12.2015', '31.12.2009']}) 
date1 = pd.to_datetime(dfDates['date'], errors='coerce', format='%Y-%m-%d')
#print(date1)
date2 = pd.to_datetime(dfDates['date'], errors='coerce', format='%d.%m.%Y')
#print(date2)
dfDates['date'] = date1.fillna(date2)
print(dfDates['date'])
print(dfDates['date'].dt)
print(dfDates['date'].dt.year)

0   2000-01-12
1   2015-01-23
2   2015-12-20
3   2009-12-31
Name: date, dtype: datetime64[ns]
<pandas.core.indexes.accessors.DatetimeProperties object at 0x000002BD2268FF40>
0    2000
1    2015
2    2015
3    2009
Name: date, dtype: int64

In [ ]:
# To understand what lamda function is doing in 'Simple Recommendor'
df1 =[ {"id": 10751, "name": "Family"}, 
       {"id": 10752, "name": "Horror"}       
     ]
df2 = []

def fun(x):
    z=[]
    for i in x:
        z.append(i['name'])
    
    
    if isinstance(z,list):
        return z
    else:
        return []

print(fun(df1))
print(fun(df2))

In [1]:
import pandas as pd

# Getting only genres names from genres column
from ast import literal_eval
movies = pd.read_csv('D:\\Shubhi\\DataScience\\MoviesRecommendation\\MovieLens_Dataset\\movies_metadata_1.csv')
df = pd.DataFrame(movies)
df['genres'] = df['genres'].fillna('[]').apply(literal_eval).apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])
print(df['genres'])

#notnull() method returns true/false based on null values present in the dtaset or not
print(df['vote_count'])
print(df['vote_count'].notnull())
df[df['vote_count'].notnull()]['vote_count'].astype('int')

0    [Family, Horror]
1                  []
Name: genres, dtype: object
0    5415.0
1       NaN
Name: vote_count, dtype: float64
0     True
1    False
Name: vote_count, dtype: bool

0    5415
Name: vote_count, dtype: int32

In [28]:
# Ways to get the column names:

data = {
        "D": ["A0", "A1", "A2", "A3"],
        "B": ["B0", "B1", "B2", "B3"],
        "C": ["C0", "C1", "C2", "C3"],
        "A": ["D0", "D1", "D2", "D3"],
        }
df = pd.DataFrame(data, index=['a','b','c','d'])
print(df.index)

# 1 iterating attribute df.columns
for col in df.columns:
       print(col)
        
#2 : columns ATTRIBUTE
print('COLUMNS: ATTRIBUTE')
print(list(df.columns))
   
#3 : keys() FUNCTION
print('KEYS(): FUNCTION')
print(list(df.keys()))

#4 : columns.values
print("COLUMNS.VALUES")
print(df.columns.values.tolist())

#4 : sorted() method
print("SORTED")
print(sorted(df))
    
df.head.transpose()

Index(['a', 'b', 'c', 'd'], dtype='object')
D
B
C
A
COLUMNS: ATTRIBUTE
['D', 'B', 'C', 'A']
KEYS(): FUNCTION
['D', 'B', 'C', 'A']
COLUMNS.VALUES
['D', 'B', 'C', 'A']
SORTED
['A', 'B', 'C', 'D']

['A', 'B', 'C', 'D']

In [29]:
# shape method returns the tuple representing the dimensionality of the DataFrame.
df = pd.DataFrame({'col1': [1, 2], 'col2': [3, 4],
                   'col3': [5, 6]})

print(df)
print(df.shape)

df.transpose()

   col1  col2  col3
0     1     3     5
1     2     4     6
(2, 3)

      0  1
col1  1  2
col2  3  4
col3  5  6